@import 'variables';
@import 'menu';

html, body, #wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.layersContainer {
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;

    .layer {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .brushCursor {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid $black;
        display: none;
        box-shadow: inset 0 0 0 1px $white;
    }
}

