@import 'variables';
@import 'menu';

html, body, #wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#wrapper {
    user-select: none;

    &.over{
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($blue-300, 0.5);
            pointer-events: none;
            z-index: 9999;
        }
        .dropText{
            display: block;
        }
    }
}
.dropText{
    z-index: 10000;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: $white;
    text-shadow: 0 0 4px rgba($black, 0.5);
    transform: translate(-50%, -50%);
}

.layersContainer {
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;

    .layer {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .brushCursor {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid $black;
        display: none;
        box-shadow: inset 0 0 0 1px $white;
    }
    .selectCursor{
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 20px;
        display: none;
        background-color: red;
        background: url('../img/rotateCursor.png') no-repeat;
        background-size: contain;
    }
}

