@import "bourbon/bourbon";

@import 'partials/settings';
@import 'partials/general';
@import 'partials/tools';
@import 'partials/layersPanel';
@import 'partials/vendorModification';
@import 'partials/loader';
@import 'partials/canvas';

#cursor{
    border: 1px solid #000;
    box-shadow: 0 0 0px 2px #FFF;
    border-radius: 50%;
    z-index: 1001;
    width:10px;
    height:10px;
    position:absolute;
    pointer-events:none;
}