@import "bourbon/bourbon";

#cursor{
    border: 1px solid #000;
    box-shadow: 0 0 0px 2px #FFF;/*, inset 0 0 1px #fff;*/
    border-radius: 50%;
    z-index: 1001;
    width:10px;
    height:10px;
    position:absolute;
    @include transform(translate(-50%, -50%));
    pointer-events:none;
}

#blendingModes option{
    text-transform: capitalize;
}

.colpick{
    top: 265px !important;
    left: 64px !important;
    width: 376px;
    height: 180px;
    z-index: 2090 !important; /*TODO: remake this zIndex to be like the others*/

    .colpick_submit{
        top: 149px !important;
        left: 217px;
        width: 150px;
    }
    .colpick_new_color,
    .colpick_current_color{
        width: 70px;
        left: 217px;
    }
    .colpick_current_color{
        left: 298px !important;
    }
    .colpick_field,
    .colpick_hex_field{
        width: 70px;
    }
    [class*="colpick_rgb_"],
    .colpick_hex_field{
        left: 217px;
    }
    [class*="colpick_hsb_"]{
        left: 297px !important;
    }
    .colpick_field_letter{
        width: 22px;
    }
    [class*="colpick_color"]{
        height: 166px;
        width: 166px;
    }
    .colpick_hue {
        height: 166px;
        left: 185px;
    }

}

.select2-container:not(.select2){
    z-index: 1069;
}
.select2parent{
    background: rgba(0, 0, 0, 0) !important;
    border: 0 solid rgba(0, 0, 0, 0) !important;
    padding: 0 !important;
    vertical-align: top !important;

    .select2{
        .select2-selection{
            height: 39px !important;

            *{
                margin-top: 5px !important;
            }
        }
    }
}

.fa-rotate-315{
    @include transform(rotate(315deg));
}
.fa-rotate-45{
    @include transform(rotate(45deg));
}
.fa-cursor{
    padding: 15px;
    background: rgba(0, 0, 0, 0) url("../img/cursor.png") no-repeat center;
    background-size: contain;
}

.mercuryModal{
    h2{
        margin-top: 0;
    }
}

.submenu{
    display: none;
}
/*.tooltip-inner{
    outline: 1px solid #FFF !important;
}*/ /* outline has no border, maybe a box-shadow instead*/

#currentTool{
    list-style: none !important;
    border: 1px solid #eee;
    border-radius: 10px 10px 0 0;
    padding: 4px;
    margin-bottom: 0;
    font-size: 20px;
    z-index: 1004;
    
    > li,
    > li > ul > li{
        display: inline-block;
        cursor: pointer;
        padding: 4px 5.5px;
        border: 1px solid #bdbdbd;
        border-radius: 10px;
        background-color: #fff;
    }
    .disabled{
        cursor: not-allowed;
        box-shadow: none;
        opacity: .65;
    }
    input{
        height: 28px;
    }
    .ionSlider{
        vertical-align: top;
        min-width: 200px !important;
        height: 39px !important;
        border-radius: 3px !important;
    }
}

#tools{
    @extend #currentTool;
    min-height: calc(100% - 48px);
    width: 49px;
    border-radius: 0;
    border: 0;
    border-right: 1px solid #eee;
    
    > li,
    > li > ul > li{
        padding: 4px 5.5px;
        width: 39px;
        height: 39px;
        margin-bottom: 5px;
        
        &:last-of-type{
            margin-bottom: 0;
        }
    }
    > li {
        position: relative;
    }
    > li > i > i{
        position: absolute;
        top: 17px;
        right: -7px;
    }
}
#boardWrapper{
    height: 100%;
    position: relative;
}
#sketch{
    position: absolute;
    left: 49px;
    top: 49px;
    height: calc(100% - 49px);
    width: calc(100% - 49px);
    overflow: hidden;
    
    .dragndrop{
        height: 100%;
        width: 100%;
        position: absolute;
        @include transition(background-color 0.5s);
        border: 4px dashed #000;
        margin-bottom: 15px;
        z-index: 1002;
        
        &.over{
            background-color: rgba(0, 100, 200, 0.9);
            
            > div{
                color: #fff;
                text-shadow: 0 0 5px #000;
            }
        }
        .upload{
            position:relative;
            text-align: center;
            top: 50%;
            left:50%;
            @include transform(translate(-50%, -50%));
            font-size: 35px;
            color: #000;
            text-shadow: 0 0 5px #fff;
            @include transition(text-shadow 0.5s, color 0.5s);
        }
    }
    #canvasWrapper{
        .canvasLayer{
            position: absolute;
            top: 0;
            left: 0;
            
            &.canvasBottom{
                z-index: 0;
            }
            &.canvasTop{
                z-index: 1000;
            }
        }
    }
}
.row{
    margin: 0;
}
#blackboard{
    height: 100%;
    width: 100%;
}






















/* from sb-admin.js */

.no-transition{
    @include transition(all 0s !important);
}

/* causes lag on chrome */
/* *{
    transition-timing-function: cubic-bezier(.55,0,.1,1) !important;
}*/

body {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
.btn {
    outline: none !important;
}

li.divider:last-child{
    display:none !important;
}

.icon-bar{
    background-color: #888;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin: 4px 0;
}

#fullscreenBtn{
    cursor: pointer;
}

#dropdown-users{
    max-height: 300px;
    overflow-x: hidden;
    width: 310px;
    min-width: 0;
    margin-left: 5px;
    font-size: 15px;
    
    .header{
        padding: 0px 5px 10px 5px;
    }
    a{
        display:inline-block !important;
        padding:5px 8px !important;
        border-radius:5px;
        outline:0;
    }
    .sort, .red, .green, .yellow{
        font-size:20px;
    }
    .sort{
        display:inline-block;
        color: #296386 !important;
    }
    .red{
        color: #D2322D !important;
    }
    .green{
        color: #47A447 !important;
    }
    .yellow{
        color: #F0AD4E !important;
    }
}

#dropdown-message{
    width:300px;
}

#studentsearch{
    width:100%;
    margin-bottom:5px;
    
    input{
        border-radius: 5px;
        font-size: 16px;
    }
}

.navstudent{
    padding: 2px 5px;
    
    a{
        padding:0 !important;
        color:#333;
    }
    b{
        border-left: 1px solid #e5e5e5;
        height:100%;
        padding-left:5px;
    }
    span{
        float:right;
        text-transform: capitalize;
    }
}
#dropdown-message{
    text-align: center;
    
    li{
        margin: 0 5px 10px 5px;
    }
    button,
    label{
        width: 100%;
    }
    
}

.senabled{
    display:block !important;
}
.sdisabled{
    display:none !important;
}

.op5{
    opacity: 0.5;
}

.tooltip{
    font-size: 14px;
}

#loader {
    position: fixed;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    display:block;
    z-index: 2010;
    top:50px;
    left:50%;
}
.swing div {
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #1FA32A;
}
.shadow {
    clear: left;
    padding-top: 20px;
    
    div {
        float: left;
        width: 16px;
        height: 4px;
        border-radius: 50%;
        background: #e3dbd2;
        -webkit-filter: blur(1px);
        filter: blur(1px);
    }
    .shadow-l {
        background: #d5d8d6;
    }
    .shadow-r {
        background: #eed3ca;
    }
}
.wire{
    div {
        float: left;
        width: 1px;
        height: 32px;
        margin-left: 15px;
        border-radius: 0;
        background: #E7E7E7;
        transform-origin: 0 0;
    }
    .wire-l {
        margin-left: 7px;
    } 
}

@-webkit-keyframes ball-l {
    0%, 50% {
        -webkit-transform: rotate(0) translateX(0);
                transform: rotate(0) translateX(0);
    }
    100% {
        -webkit-transform: rotate(50deg) translateX(-37px);
                transform: rotate(50deg) translateX(-37px);
    }
}
@keyframes ball-l {
    0%, 50% {
        -webkit-transform: rotate(0) translate(0);
                transform: rotate(0) translateX(0);
    }
    100% {
        -webkit-transform: rotate(50deg) translateX(-37px);
                transform: rotate(50deg) translateX(-37px);
    }
}
@-webkit-keyframes ball-r {
    0% {
        -webkit-transform: rotate(-50deg) translateX(37px);
                transform: rotate(-50deg) translateX(37px);
    }
    50%, 100% {
        -webkit-transform: rotate(0) translateX(0);
                transform: rotate(0) translateX(0);
    }
}
@keyframes ball-r {
    0% {
        -webkit-transform: rotate(-50deg) translateX(37px);
                transform: rotate(-50deg) translateX(37px);
    }
    50%, 100% {
        -webkit-transform: rotate(0) translateX(0);
                transform: rotate(0) translateX(0)
    }
}
@-webkit-keyframes shadow-l-n {
    0%, 50% {
        opacity: .5;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    100% {
        opacity: .125;
        -webkit-transform: translateX(-1.75em);
                transform: translateX(-1.75em);
    }
}
@keyframes shadow-l-n {
    0%, 50% {
        opacity: .5;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    100% {
        opacity: .125;
        -webkit-transform: translateX(-1.75);
                transform: translateX(-1.75em);
    }
}
@-webkit-keyframes shadow-r-n {
    0% {
        opacity: .125;
        -webkit-transform: translateX(1.75em);
                transform: translateX(1.75em);
    }
    50%, 100% {
        opacity: .5;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes shadow-r-n {
    0% {
        opacity: .125;
        -webkit-transform: translateX(1.75em);
                transform: translateX(1.75em);
    }
    50%, 100% {
        opacity: .5;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@-webkit-keyframes wire-l-n {
    0%, 50% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(60deg);
                transform: rotate(60deg);
    }
}
@keyframes wire-l-n {
    0%, 50% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(60deg);
                transform: rotate(60deg);
    }
}
@-webkit-keyframes wire-r-n {
    0% {
        -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg);
    }
    50%, 100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}
@keyframes wire-r-n {
    0% {
        -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg);
    }
    50%, 100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}


.swing-l {
    -webkit-animation: ball-l 0.5s ease-in-out infinite alternate;
            animation: ball-l 0.5s ease-in-out infinite alternate;
} 
.swing-r {
    -webkit-animation: ball-r 0.5s ease-in-out infinite alternate;
            animation: ball-r 0.5s ease-in-out infinite alternate;
} 
.shadow-l {
    -webkit-animation: shadow-l-n 0.5s ease-in-out infinite alternate;
            animation: shadow-l-n 0.5s ease-in-out infinite alternate;
} 
.shadow-r {
    -webkit-animation: shadow-r-n 0.5s ease-in-out infinite alternate;
            animation: shadow-r-n 0.5s ease-in-out infinite alternate;
}
.wire-l {
    -webkit-animation: wire-l-n 0.5s ease-in-out infinite alternate;
            animation: wire-l-n 0.5s ease-in-out infinite alternate;
} 
.wire-r {
    -webkit-animation: wire-r-n 0.5s ease-in-out infinite alternate;
            animation: wire-r-n 0.5s ease-in-out infinite alternate;
}

/* Wrappers */

/* ------------------------------- */

.navbar-right {
    float: right  !important;
}

.navbar-header {
    float: left;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#page-wrapper {
    height: 100%;
    position: inherit;
    margin: 0;
    padding: 0;
    background-color: #fff;
    @include transition(all 1s);
    /*-webkit-transition: all 1s;
            transition: all 1s;*/
}
#side-menu a{
    padding: 5px 15px;
}

.backdrop{
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    @include transition(opacity 0.5s);
    z-index: 1003;
    cursor: pointer;
}

/* Navigation */

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */

.navbar-top-links {
    li {
        display: inline-block;
        
        &:last-child {
            margin-right: 15px;
        }
        a {
            padding: 15px;
            min-height: 50px;
        }
    }
    .dropdown-menu {
        li {
            display: block;
            
            &:last-child {
                margin-right: 0;
            }
            a {
                padding: 3px 20px;
                min-height: 0;
                
                div {
                    white-space: normal;
                }
            }
        }
    }
    .dropdown-user {
        right: 0;
        left: auto;
    }
}

.navbar-right .dropdown-menu {
    left: auto;
    right: 0px;
}

/* Sidebar Menu Styles */

#sidenavbar{
    @include transition(margin 1s);
    font-size: 17px;
    z-index: 1;
    position: absolute;
    width: 150px;
    height: 100vh;
    border-right: 1px solid #e7e7e7;
    
    .menu-arrow{
        float: none !important;
        position: absolute;
        top:22px;
        right:9px;
        font-size: 25px;
        @include transition(all 1s);
    }
    ul li {
        border-bottom: 1px solid #e7e7e7;
        
        a {
            text-align: center;
            outline: 0 !important;
            
            i {
                display: block;
                margin:0 auto;
                font-size: 28px;
            }
        }
    }
}

.nav a{
    color: #22B573 !important;
    
    i{
        color: #22B573 !important;
    }
}

.sidebar-search{
    border: 0 !important;
}

#minifynavbar{
    padding: 6px 9px;
    margin: 0px;
    position: absolute;
    top: 7px;
    right: -50px;
    cursor:pointer;
    @include transition(top 1s);
    
    &.open{
        top: 5px;
    }
    .minifynavbarWrapper{
        transform: rotate(0deg);
        @include transition(transform 1s);
    }
    .icon-bar{
        @include transition(transform 1s, height 1s);
        opacity: 1;
        transform: translate(0,0) rotate(0deg);
    }
    &.open .icon-bar{
        border-radius: 0;
        height: 3px;
    }
    &.open .icon-bar:first-child{
        transform: translate(6px, 2.5px) rotate(45deg) scale(0.7, 1);
    }
    &.open .icon-bar:last-child{
        transform: translate(6px, -2.5px) rotate(-45deg) scale(0.7, 1);
    }
}
.noty_text{
    font-size: 16px;
    font-weight: 700;
}
.searchnav{
    width:150px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}
.nav-second-level{
    border-bottom: 1px solid rgb(221, 221, 221);
    border-top: 2px solid rgb(221, 221, 221);
}

.nav-third-level li a {
    padding-left: 52px;
}

/*.navbar-static-side {
    z-index: 1;
    position: absolute;
    width: 150px;
    margin-top: 51px;
}*/

/* Buttons */

/* ------------------------------- */

.btn-outline {
    color: inherit;
    background-color: transparent;
    @include transition(all 0.5s);
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* Pages */

/* ------------------------------- */

/* Dashboard Chat */

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

/* Login Page */

.login-panel {
    margin-top: 25%;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* DataTables Overrides */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

/* Circle Buttons */

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee  !important;
}

.show-grid {
    margin: 15px 0;
}

#noty_center_layout_container, #noty_center_layout_container li, #noty_center_layout_container div{
    width: 400px !important;
}
#noty_center_layout_container div .noty_buttons{
    text-align: center !important;
}

#mymodal .modal-footer{
    text-align: center;
}


@-webkit-keyframes loader{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(180deg);}
}

@keyframes loader{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(0deg);}
}