@import 'variables';

.menu {
    position: absolute;
    border: 1px solid $grey-800;
    background: #535353;
    z-index: 1000;
    box-sizing: border-box;

    &.top {
        top: 0;
    }
    &.bottom {
        bottom: 0;
    }
    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    }

    .handle{
        position: absolute;
        top: 0;
        left: 0;
        color: $white;
        cursor: grab;
        opacity: 0.5;

        &:active{
            cursor: grabbing;
        }
        .fa{
            position: absolute;
        }
    }

    &.fixed{
        .handle{
            display: none;
        }
    }

    &.horizontal {
        flex-direction: row;

        &.fixed{
            width: 100%;
            left: 0;
            box-shadow: 0 -#{$menuBlurLength} #{$menuBlurLength} -#{$menuBlurLength} $menuBlurColor, 0 #{$menuBlurLength} #{$menuBlurLength} -#{$menuBlurLength} $menuBlurColor;
        }
        &:not(.fixed){
            padding-left: $menuHandleSize + 4px;
        }

        .handle{
            height: 100%;
            width: $menuHandleSize;
            margin-left: 2px;

            .fa{
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
            }
        }
        > .tool {
            margin: 0 3px;

            &:first-of-type{
                margin-left: 0;
            }
            &:last-of-type {
                margin-right: 0;
            }
            &.end.first {
                margin-left: auto;
            }
        }
    }
    &.vertical {
        flex-direction: column;

        &.fixed{
            height: 100%;
            top: 0;
            box-shadow: -#{$menuBlurLength} 0 #{$menuBlurLength} -#{$menuBlurLength} $menuBlurColor, #{$menuBlurLength} 0 #{$menuBlurLength} -#{$menuBlurLength} $menuBlurColor;
        }
        &:not(.fixed){
            padding-top: $menuHandleSize + 4px;
        }

        .handle{
            width: 100%;
            height: $menuHandleSize;
            margin-top: 4px;

            .fa{
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
        > .tool {
            margin: 3px 0;

            &:first-of-type{
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
            &.end.first {
                margin-top: auto;
            }
        }
    }

    .tool {
        display: inline-block;
        padding: 6px 4px;
        border: 1px solid rgba($black, 0);
        cursor: pointer;
        color: $grey-300;
        font-size: 16px;
        overflow: hidden;

        &:hover {
            border-color: $grey-500;
        }
        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
        &.selected {
            border-color: $grey-300;
        }
    }
}

.toolbar {
    padding: 5px;
    line-height: 0;
    display: flex;
    align-items: center;
    align-content: flex-start;

    .tool {
        &.end {
            order: 999;
        }
    }
}

.layersPanel{
    min-width: 300px;
    padding-bottom: 36px; // .buttons's height - 1

    .layersList{
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .buttons {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 1px solid $borderColor;
        line-height: 0;
        display: flex;
        align-items: stretch;

        .tool{
            margin: 3px;
        }
        .trash{
            margin-left: auto;
        }
    }
}
.buttons .layerThumbnail{
    display: none;
}
.layerThumbnail {
    position: relative;
    width: 100%;
    height: 100px;
    line-height: 94px;
    margin-top: -1px;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;

    &.selected{
        background: rgba($blue-500, 0.2);
    }
    &:first-of-type{
        margin-top: 0;
        border-top: 0;
    }

    &.dropOver:after{
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        width: 100%;
        height: 1px;
        border-top: 6px solid $borderColor;
    }
    div {
        display: inline-block;
        color: $white;
    }
    .visible {
        width: 30px;
        cursor: pointer;
        vertical-align: top;
        text-align: center;
    }
    .divider {
        position: relative;
        top: 20%;
        width: 1px;
        height: 60%;
        display: inline-block;
        border-right: 1px solid $borderColor;
    }
    .thumbnail {
        position: relative;
        vertical-align: top;
        margin: 10px;
        line-height: 0;
        width: 80px;
        height: 80px;

        .image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .transparent{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../img/transparentCheck.png');
        }
    }
    .name {
        vertical-align: top;
        margin-left: 5px;
    }
}