.tool-checkbox label{
    margin-bottom: 0;
    
    input{
        height: auto !important;
    }
}

#textarea{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 1px dashed #000;
    z-index: 1001;
    resize: none;
}

.tool{
    &.selected{
        border: 1px solid red !important;
    }
}


#currentTool{
    list-style: none !important;
    border-bottom: 1px solid $menuBorder;
    padding: 4px;
    margin-bottom: 0;
    font-size: 20px;
    z-index: 1004;
    
    >li {
        vertical-align: top;
    }
    > li,
    > li > ul > li{
        display: inline-block;
        cursor: pointer;
        padding: 4px 5.5px;
        border: 1px solid #bdbdbd;
        border-radius: 10px;
        background-color: #fff;
    }
    .disabled{
        cursor: not-allowed;
        box-shadow: none;
        opacity: 0.3;
    }
    input{
        height: 28px;
    }
    .ionSlider{
        vertical-align: top;
        min-width: 200px !important;
        height: 39px !important;
        border-radius: 3px !important;
    }
    .isButton{
        background: rgba(0, 0, 0, 0);
        padding: 0;
        border: 0;
        border-radius: 0;
        
        .btn{
            height: 39px;

            i{
                font-size: 18px;
            }
        }
    }
}

#tools{
    @extend #currentTool;
    min-height: calc(100% - #{$menuHeight - 1px});
    position: relative;
    width: $menuHeight;
    border-radius: 0;
    border: 0;
    border-right: 1px solid $menuBorder;
    
    > li,
    > li > ul > li{
        padding: 4px 5.5px;
        width: 39px;
        height: 39px;
        margin-bottom: 5px;
        
        &:last-of-type{
            margin-bottom: 0;
        }
    }
    > li {
        position: relative;
    }
    > li > i > i{
        position: absolute;
        top: 17px;
        right: -7px;
    }
}